// --8<-- [start:dropdown-formatting]
.select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
    max-width: 22rem;
    height: 3.5rem;
}
.select {
    position: relative;
    display: flex;
    flex-direction: column;
    user-select: none;
    width: 100%;
    max-width: 348px;
    height: 56px;
    border: 2px solid;
    border-radius: 4px;
    border-color: $dropdown-border-color;
    
    color: $dropdown-placeholder-color;
    
    &.hover,
    &:hover{
        border-color: #263238;
    }
    &.disable{
        border-color: $dropdown-disabled-color;
        color: $dropdown-disabled-color;
    }
    &.focus,
    &:focus{
        border-color: $dropdown-focus-color;

        .arrow{
            rotate: 180deg;
        }
    }
    &.error{
        border-color: $dropdown-error-color;
        color: $dropdown-error-color;
    }
    
    
}


.select-trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    font-size: 1rem;
    font-weight: 600;
    gap: 12px;
    height: 100%;
    background: #ffffff;
    cursor: pointer;
    
    line-height: 48px;
    
    span {
        padding: 12px 16px 12px 0px;
    }
}

.error-support-text{
    color: $dropdown-error-color;
    text-align:left;
    padding: 5px 16px;
    font-size: 0.75em;
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid $dropdown-border-color;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    
}
.select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 18px;
    font-weight: 300;
    color: $dropdown-placeholder-color;
    cursor: pointer;
    transition: all 0.5s;
    line-height: 48px;
    
}
.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.10rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(-45deg);
    background-color: $dropdown-arrow-color;
}
.arrow::after {
    left: 5px;
    transform: rotate(45deg);
    background-color: $dropdown-arrow-color;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}
.select.opened .custom-options{
    visibility: visible;
    opacity: 1;
}

.dropdown-grid{
    height: 30vh;
    justify-content: flex-start !important;
}
// --8<-- [end:dropdown-formatting]

// --8<-- [start:dropdown-hover]
// hover
.custom-option:hover {
    cursor: pointer;
    background-color: $dropdown-hover-color;
}

.custom-option.hovered {
    background-color: $dropdown-hover-color;
}
// --8<-- [end:dropdown-hover]

.dropdown-placeholder-hover-color{
    background-color: $dropdown-hover-color;
} 

// --8<-- [start:dropdown-selected]
// selected
.custom-option.selected {
    color: $dropdown-placeholder-color;
    background-color: $dropdown-select-color;
}
// --8<-- [end:dropdown-selected]
.dropdown-placeholder-selected-color{
    background-color: $dropdown-select-color;
} 